@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Montserrat;
  font-size: 18px;
}

.no-scroll {
  overflow: hidden;
}

.container {
  padding: 0px 10px;
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  -webkit-transition: padding .3s;
  transition: padding .3s;
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #0b1419f1;
  padding: 7px 15px;
  font-size: 18px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffa650;
}

.header__logo span {
  color: tomato;
}

.header__logo img {
  width: 40px;
  margin-right: 5px;
}

.header__menu {
  position: relative;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu ul li {
  position: relative;
  margin-right: 60px;
}

.header__menu ul li:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ffffff;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header__menu ul li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header__menu ul li:last-child {
  -webkit-transition: padding .2s, border .3s, -webkit-box-shadow .3s;
  transition: padding .2s, border .3s, -webkit-box-shadow .3s;
  transition: padding .2s, box-shadow .3s, border .3s;
  transition: padding .2s, box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  margin-right: 0px;
  padding: 10px 15px;
  border-radius: 40px;
  border: 2px solid #ffffff;
}

.header__menu ul li:last-child:hover:after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.header__menu ul li:last-child:hover {
  border: 2px solid green;
  -webkit-box-shadow: inset 0px 0px 5px 1px green;
          box-shadow: inset 0px 0px 5px 1px green;
}

.header__menu ul li a {
  color: #ffffff;
}

.header__menu .header__burger {
  position: absolute;
  top: 7px;
  right: 0;
  width: 30px;
  height: 24px;
}

.header__menu .header__burger span, .header__menu .header__burger:before, .header__menu .header__burger:after {
  content: '';
  position: absolute;
  top: 0px;
  width: 100%;
  height: 3px;
  background: #ffffff;
}

.header__menu .header__burger span {
  top: 10px;
}

.header__menu .header__burger:before {
  top: 20px;
}

.header__menu .header__burger:after {
  top: 0px;
}

.header.active {
  padding: 2px 15px;
}

.header.active .header__menu ul li:last-child {
  padding: 4px 10px;
}

.preview {
  position: relative;
  padding: 200px 0px;
  background: url(../img/modern-img/header-bg.webp) center/cover no-repeat fixed;
}

.preview:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  z-index: 1;
}

.preview__opasity {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}

.preview__text {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  text-align: center;
  max-width: 500px;
}

.preview__text p {
  font-size: 24px;
  color: #fcff00;
  margin-bottom: 20px;
}

.preview__text h1 {
  font-size: 55px;
  line-height: 1.2em;
  color: #ffffff;
  margin-bottom: 50px;
}

.preview__text a {
  display: inline-block;
  color: #ffffff;
  padding: 20px 75px;
  background: tomato;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 15px 7px #a53f2d;
          box-shadow: 0px 0px 15px 7px #a53f2d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.preview__text a:hover {
  -webkit-box-shadow: 0px 0px 10px 3px #000;
          box-shadow: 0px 0px 10px 3px #000;
}

.preview__text a:active {
  opacity: 0.8;
  -webkit-transform: scale(0.96);
          transform: scale(0.96);
}

h2 {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 48px;
}

.menu {
  padding: 115px 0px;
  background: #f9f9f9;
}

.menu__title {
  text-align: center;
  color: #ffa650;
  margin-bottom: 35px;
}

.menu__category {
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 100px;
  border-radius: 40px;
  overflow: hidden;
  background: #ffffff;
}

.menu__category ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.menu__category ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: inline-block;
  border-right: 1px solid #e6e6e6;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu__category ul li button {
  padding: 15px 25px;
  background: initial;
  color: inherit;
}

.menu__category ul li:hover {
  background: #ffa650;
  color: #ffffff;
}

.menu__category ul li.active {
  background: #000;
  color: #ffffff;
}

.menu__category ul li.active button {
  background: inherit;
  color: inherit;
}

.menu__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__content {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 385px;
  padding: 0px 25px;
  margin-bottom: 100px;
}

.menu__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #e9e9e9;
}

.menu__item:nth-child(3n + 1):before {
  content: none;
}

.item__img {
  margin-bottom: 35px;
}

.item__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 210px;
}

.item__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.item__name {
  font-size: 22px;
  margin-bottom: 15px;
}

.item__subname {
  font-family: Roboto;
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 30px;
}

.item__size {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 30px;
  background: #ffffff;
  margin-bottom: 30px;
}

.item__size:before {
  content: '';
  position: absolute;
  z-index: 31;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  border-right: 1px solid #9f9f9f;
}

.item__size button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 120px;
  background: initial;
  color: #cdcdcd;
  padding: 15px 30px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.item__size button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #2f2f2f;
}

.item__size button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.item__size button.active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #ffffff;
  background: tomato;
}

.item__size button.active:hover {
  -webkit-transform: none;
          transform: none;
}

.item__size button.active:active {
  -webkit-transform: none;
          transform: none;
}

.item__size-one button {
  width: 100%;
}

.item__size-one::before {
  content: none;
}

.item__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__price {
  font-size: 22px;
}

.item__btn {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #ffffff;
  font-size: 20px;
  padding: 17px 60px;
  background: #ffa650;
  border-radius: 30px;
}

.item__btn:hover, .item__btn:focus {
  -webkit-box-shadow: 0px 7px 0px 0px #ff9635;
          box-shadow: 0px 7px 0px 0px #ff9635;
}

.item__btn:active {
  -webkit-box-shadow: 1px 1px 0px 0px #ff9635;
          box-shadow: 1px 1px 0px 0px #ff9635;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__backgraund {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__backgraund img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 0px -2px;
  padding: 125px 20px 155px 85px;
  background: #1f1f1f;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f1f1f), to(#2b2b2b));
  background: linear-gradient(180deg, #1f1f1f 0%, #2b2b2b 100%);
  color: #ffffff;
}

.about__title, .about__subtitle {
  max-width: 650px;
}

.about__title {
  margin-bottom: 35px;
}

.about__subtitle {
  font-family: Roboto;
  font-size: 18px;
}

.contacts {
  overflow: hidden;
  padding: 110px 0px 120px;
}

.contacts__title {
  text-align: center;
  margin-bottom: 90px;
}

.contacts__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  z-index: 2;
}

.contacts__img img {
  width: 100%;
}

.contacts__text {
  position: relative;
  z-index: 10;
  padding-left: 30px;
}

.contacts__text h4 {
  margin-bottom: 7px;
}

.contacts__text p {
  font-family: Roboto;
}

.contacts__text p a {
  color: #000;
}

.contacts__delivery {
  margin-bottom: 53px;
}

.contacts__phone {
  margin-bottom: 53px;
}

.contacts__social-icons {
  width: 40px;
}

.contacts__tomato-img {
  position: absolute;
  z-index: 1;
  right: -220px;
  bottom: -140px;
}

.contacts__tomato-img img {
  width: 80%;
}

.footer {
  padding: 27px 0px;
  background: #1f1f1f;
  background: -webkit-gradient(linear, left top, left bottom, from(#1f1f1f), to(#2b2b2b));
  background: linear-gradient(180deg, #1f1f1f 0%, #2b2b2b 100%);
  color: #ffa650;
}

.footer span {
  color: tomato;
}

.footer img {
  width: 40px;
  margin-right: 5px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo img {
  width: 40px;
}

span.footer__year {
  color: #cdcdcd;
}

/* POPUP Общие */
.popup {
  position: fixed;
  z-index: 34;
  top: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.popup__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.popup__inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0px;
}

.popup__content {
  margin: 0 auto;
  position: relative;
  background: #ffffff;
  padding: 70px 20px;
  max-width: 700px;
  border-radius: 20px;
}

.popup__title {
  font-family: Montserrat;
  font-weight: 900;
}

.popup__subtitle {
  font-family: Roboto;
  font-size: 22px;
}

.popup__menu {
  margin-top: 10px;
  margin-bottom: 20px;
}

.popup__phone {
  margin-bottom: 40px;
}

.popup a {
  color: inherit;
}

.popup.active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.popup__exit {
  -webkit-transition: -webkit-transform .3s opasity .2s;
  transition: -webkit-transform .3s opasity .2s;
  transition: transform .3s opasity .2s;
  transition: transform .3s opasity .2s, -webkit-transform .3s opasity .2s;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 30;
  width: 40px;
  height: 44px;
  background: initial;
}

.popup__exit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.popup__exit:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  opacity: 0.7;
}

.popup__exit:before, .popup__exit:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #d3d3d3;
  border-radius: 10px;
}

.popup__exit:before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.popup__exit:after {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

/* POPUP Общие */
.popup-menu__content--fluid {
  padding-right: 0;
  padding-left: 0;
}

.popup-menu__content--centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu {
  width: 100%;
}

.mobile-menu__link {
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 20px 0px;
  display: block;
  font-size: 24px;
  color: inherit;
  text-align: center;
}

.mobile-menu__link:hover {
  color: #fff;
  background: #ffa650;
}

.mobile-menu__link:active {
  opacity: 0.8;
}

.phone__item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  color: #fff;
  border: 3px solid #ffa650;
  padding: 8px 16px;
  border-radius: 21px;
}

.phone__item:hover {
  color: #fff;
  background: #ffa650;
}

.phone__item:active {
  opacity: 0.8;
}

.phone__item--accent {
  border-color: #ffa650;
  color: #ffa650;
}

.social img {
  width: 40px;
}

.popup-order__header {
  margin-bottom: 50px;
}

.popup-order__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px;
}

.popup-order__subtitle {
  font-family: Roboto;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  max-width: 300px;
  margin-bottom: 53px;
}

.popup-order__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-order__img {
  max-width: 200px;
  margin-bottom: 23px;
}

.popup-order__img img {
  width: 100%;
}

.popup-order__item-name-and-price {
  font-size: 22px;
}

.popup-order__size {
  border-radius: 30px;
  background: initial;
  color: #cdcdcd;
  padding: 15px 30px;
  margin-bottom: 35px;
}

.popup-order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  font-family: Roboto;
  font-size: 16px;
  width: 300px;
  padding: 23px 35px;
  background: #f7f7f7;
  border-radius: 32px;
  margin-bottom: 7px;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
}

.form__input:hover {
  -webkit-box-shadow: 0px 0px 3px 1px #ffa650;
          box-shadow: 0px 0px 3px 1px #ffa650;
}

.form__input:focus {
  color: #000;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 8px 2px #ffa650;
          box-shadow: 0px 0px 8px 2px #ffa650;
}

.form__btn {
  padding: 20px 60px;
  width: 300px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.form__btn:hover {
  -webkit-box-shadow: 0px 10px 0px 0px #ff9635;
          box-shadow: 0px 10px 0px 0px #ff9635;
}

.form__btn:focus {
  -webkit-box-shadow: 0px 10px 0px 0px #ff9635;
          box-shadow: 0px 10px 0px 0px #ff9635;
}

.form__btn:active {
  -webkit-box-shadow: 1px 1px 0px 0px #ff9635;
          box-shadow: 1px 1px 0px 0px #ff9635;
  -webkit-transform: translate(0px, 5px);
          transform: translate(0px, 5px);
}

.popup-over {
  -webkit-transform: translatex(0%);
          transform: translatex(0%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 31;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.popup-over__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: auto auto;
  width: 700px;
  height: 400px;
  background: #ffffff;
  border-radius: 40px;
}

.popup-over__content {
  margin: auto auto;
}

.popup-over__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px;
}

.popup-over__subtitle {
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
}

.popup-error {
  text-align: center;
}

.popup-error__title {
  margin-bottom: 30px;
}

.popup-error__subtitle {
  line-height: 1.5em;
}

@media (max-width: 1159px) {
  .menu__item:nth-child(3n + 1):before {
    content: '';
  }
  .menu__item:nth-child(odd):before {
    content: none;
  }
}

@media (max-width: 860px) {
  .container {
    max-width: 810px;
  }
  .header__menu ul li {
    display: none;
  }
  .header__menu ul li:last-child {
    display: block;
    margin-right: 37px;
  }
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__backgraund, .about__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0px 0px 0px 0px;
    margin-top: -2px;
  }
  .about__text {
    padding: 80px 20px 80px 45px;
  }
  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .contacts__img {
    margin-bottom: 30px;
  }
  .contacts__text {
    padding: 0;
  }
}

@media (max-width: 790px) {
  .menu__item:nth-child(3n + 1):before {
    content: none;
  }
  .menu__item:before {
    content: none;
  }
  .menu__item {
    margin-bottom: 50px;
    border-bottom: 3px solid #dfdfdf;
  }
  .item__end {
    margin-bottom: 50px;
  }
}

@media (max-width: 780px) {
  .container {
    max-width: 750px;
  }
  .menu__category {
    margin: 0 auto;
    max-width: 600px;
    background: #ffffff;
    margin-bottom: 100px;
  }
  .menu__category ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item__btn {
    padding: 13px 40px;
  }
}

@media (max-width: 580px) {
  .container {
    max-width: 550px;
  }
  .preview__text p {
    font-size: 22px;
  }
  .preview__text h1 {
    font-size: 44px;
  }
  .preview__text a {
    padding: 15px 55px;
  }
  .about__title {
    margin-bottom: 10px;
  }
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__text {
    padding: 50px 10px 50px 25px;
  }
  .about__text__subtitle {
    font-size: 16px;
  }
  .menu {
    padding: 0px;
  }
  .popup__inner {
    padding: 0;
  }
  .popup__content {
    padding: 100px 0px;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .mobile-menu__link {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .container {
    width: auto;
  }
  .header__menu ul li:last-child {
    display: none;
  }
  .header__menu .header__burger {
    top: -14px;
  }
  .preview__text p {
    font-size: 20px;
  }
  .preview__text h1 {
    font-size: 38px;
  }
  .preview__text a {
    padding: 10px 55px;
  }
  .item__btn {
    padding: 13px 30px;
  }
  .about__title {
    margin-bottom: 10px;
  }
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about__text {
    padding: 20px 10px 35px 10px;
  }
  .about__text__subtitle {
    font-size: 16px;
  }
  .popup-over {
    padding: 5px;
  }
  .popup-over__title {
    font-size: 40px;
  }
  .popup-over__subtitle {
    font-size: 19px;
  }
  .popup__title {
    font-size: 38px;
  }
  .popup__subtitle {
    font-size: 20px;
  }
}

@media (min-width: 861px) {
  .header__burger {
    display: none;
  }
}
